/* .LatestPosts .first-sec {
  background-image: url("../../../../Resources/Assets/firstPost.png");
  height: fit-content;
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */
.LatestPosts .first-sec {
    background-image: url("../../../../Resources/Assets/firstPost.png");
    background-repeat: no-repeat !important;
    height: fit-content !important;
    background-size: 100% 100% !important;
}
.LatestPosts p {
  font-family: "Gotham";
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  padding-bottom: 35px;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: flex-end;
  /* padding-bottom: 35px;
    padding-left: 84px; */
}
.LatestPosts .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 674px;
  bottom: 0px;
  background-color: #426b87;
  opacity: 0.75;
}
.LatestPosts a::after {
  content: url("../../../../Resources/Assets/right-arrow.svg");
  margin-left: 8px;
  margin-top: 5px;
  display: inline-block;
}
.LatestPosts a {
  z-index: 200;
  position: relative;
  font-size: 14px;
  font-family: "Gotham";
  font-weight: 500;
  text-decoration: none;
}
.LatestPosts p {
  position: relative;
  z-index: "200";
}
.LatestPosts .scond-sec {
  background-image: url("../../../../Resources/Assets/secondPost.png");
  height: 463px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.LatestPosts .third-sec {
  background-image: url("../../../../Resources/Assets/thirdPost.png");
  height: 463px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.LatestPosts .text-post {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  opacity: 0.67;
  padding-bottom: 0px;
  height: auto;
  padding-bottom: 0px;

  padding-left: 0px;
}
.LatestPosts .textContainer {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 99px;
  margin-left: 73px;
  margin-top: 190px;
}
.LatestPosts .textContainer p {
  margin: 0px;
}
.LatestPosts .textContainer p:first-of-type {
  padding-bottom: 10px;
}
.LatestPosts .textContainer p:last-of-type {
  padding-bottom: 21px;
}
@media only screen and (max-width: 768px) {
    .LatestPosts .first-sec {
        background-image: url("../../../../Resources/Assets/firstPost.png");
        background-repeat: no-repeat;
        height: fit-content;
        background-size: 100% 100%;
    }
    .LatestPosts .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0 !important;
        bottom: 926px !important;
        background-color: #426b87;
        opacity: 0.75;
      }

}
@media  (min-width: 768px) and (max-width: 991px) {
    .LatestPosts .first-sec {
        background-image: url("../../../../Resources/Assets/firstPost.png");
        background-repeat: no-repeat;
        height: fit-content;
        background-size: 100% 100%;
    }
    .LatestPosts .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 405px !important;
        bottom: 0px;
        background-color: #426b87;
        opacity: 0.75;
      }
      .LatestPosts .textContainer {
  
        margin-top: 121px;
      }
}
