.LoginContainer {
  height: 518.63px;
  width: 930px;
  margin-left: 90px;
}
.login .img-container {
  background-image: url("../../../Resources/Assets/Group 6026.png");
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  left: 25px;
}
.login .formContainer {
  background-color: #fff;
  padding: 50px 36px;
  box-shadow: 5px 10px 8px 10px #ebeffc;
  position: relative;
}
.login h4 {
  font-size: 19px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 12px;
}
.login p {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.login ::placeholder {
  color: #426b87;
  font-size: 12;
  font-weight: 400;
  font-family: "Poppins";
  opacity: 1;
}

/* .login :-ms-input-placeholder {
  color: #426b87;
  font-size: 12;
  font-weight: 400;
  font-family: "Poppins";
  opacity: 1;
}

.login ::-ms-input-placeholder {
  color: #426b87;
  font-size: 12;
  font-weight: 400;
  font-family: "Poppins";
} */
.login .Remember {
  color: #757575;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.login a {
  color: #426b87;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.login .checkbox label
{
  position: static !important;
  margin-bottom: 25px;
}
.login .forgetPass {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}
.login .passSeen {
  position: absolute;
  left: 85%;
  bottom: 220px;
  /* bottom: 25%; */
}
.login .input
{
  background-color: #F9FBFD !important;
  border: 1px solid #EBEFFC;
}
.login button {
  width: 148px;
  height: 37px;
  background-color: #426b87;
  color: #fff;
  border: none;
}
/* .login #password,
.login #userName {
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 22px;
} */
@media only screen and (max-width: 768px) {
  .login .img-container {
    background-image: url("../../../Resources/Assets/Group 6026.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: static;
  }
  .LoginContainer {
    height: 518.63px;
    width: 100%;
    margin-left: 0px;
  }
  .login .passSeen {
    position: absolute;
    left: 83%;
    bottom: 43%;
}
.login .formContainer{
  margin-top: 25px;

}
}
@media (min-width: 768px) and (max-width: 991px) {
  .login .img-container {
    background-image: url("../../../Resources/Assets/Group 6026.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100%; */
    width: 100%;
    position: static;
  }
  .LoginContainer {
    /* height: 518.63px; */
    width: 100%;
    margin-left: 0px;
  }
  .login .passSeen {
    position: absolute;
    left: 83%;
    bottom: 43%;
}
.login .formContainer{
  margin-top: 25px;

}
}
