/* .UserSignupContainer {
    height: 518.63px;
    width: 930px;
    margin-left: 90px;
  }
  .UserSignup .img-container {
    background-image: url("../../../../Resources/Assets/Group 6026.png");
    background-repeat: no-repeat;
    height: 100%;
  }
  .UserSignup .formContainer {
    background-color: #fff;
    padding: 50px 36px;
    box-shadow: 5px 10px 8px 10px #ebeffc;
    position: relative;
  }
  .UserSignup h4 {
    font-size: 19px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 12px;
  }
  .UserSignup p {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
  }
  .UserSignup ::placeholder {
    color: #426b87;
    font-size: 12;
    font-weight: 400;
    font-family: "Poppins";
    opacity: 1;
  }
  
  .UserSignup :-ms-input-placeholder {
    color: #426b87;
    font-size: 12;
    font-weight: 400;
    font-family: "Poppins";
    opacity: 1;
  }
  
  .UserSignup ::-ms-input-placeholder {
    color: #426b87;
    font-size: 12;
    font-weight: 400;
    font-family: "Poppins";
  }
  .UserSignup label {
    color: #757575;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
  .UserSignup a {
    color: #426b87;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
  }
  
  .UserSignup .forgetPass {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
  }
  .UserSignup .passSeen {
    position: absolute;
    left: 85%;
    bottom: 190px;
  }
  .UserSignup button {
    width: 148px;
    height: 37px;
    background-color: #426b87;
    color: #fff;
    border: none;
  }
  .UserSignup #password,
  .UserSignup #userName {
      padding-left: 13px;
      padding-top: 5px;
      padding-bottom: 22px;
  }
  @media only screen and (max-width: 768px) {
    .UserSignupContainer {
      height: 518.63px;
      width: 100%;
      margin-left: 0px;
      margin-top: 25px;

    }
  }
   */
   

.UserSignup button
{
  width: 148px;
  height: 37px;
  background-color: #426b87;
  color: #fff;
  border: none;
  margin-top: 25px;
}
.UserSignup .checkAccount{
  color: #757575;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 30px;

}
.UserSignup .forgetPassForm
{
  background-color: #fff;
  padding: 50px 36px;
  box-shadow: 5px 10px 8px 10px #ebeffc;
  width: 90%;

}
.UserSignup .forgetPassCol
{
display: flex;
flex-direction: column;
justify-content: center;
}

@media only screen and (max-width: 768px) {

  .UserSignup .forgetPassForm
  {
    background-color: #fff;
    padding: 50px 36px;
    box-shadow: 5px 10px 8px 10px #ebeffc;
    width: 100%;
  
  }
  .UserSignup img
  {
    width: 100%;
  }
	.UserSignup .LoginForm 
{
	display: flex;
height: 55vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
@-moz-document url-prefix() {
	.UserSignup .LoginForm
	{
		display: flex;
	height: 56vh;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
  }

  }