.CompanySignupContainer{
  padding-top: 40px;
}
.CompanySignup button
{
  width: 148px;
  height: 37px;
  background-color: #426b87;
  color: #fff;
  border: none;
  margin-top: 25px;
}
.CompanySignup .checkAccount{
  color: #757575;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 30px;

}
.CompanySignup .formContainer
{
  background-color: #fff;
  padding: 50px 36px;
  box-shadow: 5px 10px 8px 10px #ebeffc;
  width: 95% !important;

}
.CompanySignup .forgetPassCol
{
display: flex;
flex-direction: column;
justify-content: center;
}

/* @media only screen and (max-width: 768px) {

  .CompanySignup .forgetPassForm
  {
    background-color: #fff;
    padding: 50px 36px;
    box-shadow: 5px 10px 8px 10px #ebeffc;
    width: 100%;
  
  }
  .CompanySignup img
  {
    width: 100%;
  }
	.CompanySignup .LoginForm 
{
	display: flex;
height: 55vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
@-moz-document url-prefix() {
	.CompanySignup .LoginForm
	{
		display: flex;
	height: 56vh;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
  }

  } */