.sdp {
  width: 640px;
  box-shadow: none !important;
}
.sdp:focus
{
  box-shadow: none;
}
.sdp--month-picker button:first-of-type {
  position: absolute;
  right: 50%;
}
.sdp--month-picker button:last-of-type {
  position: absolute;
  right: 47%;
}
.sdp--dates-grid{
  height: 240px;
}

.sdp--month-picker p{
font-size: 16px;
font-family: 'Poppins';
font-weight: bold;
}
.sdp--date-btn__selected{
    background-color: #426B87;
    border-radius: 4px;
    width: 67px;
    color: #fff !important;
    height: 27px;
}
.sdp--square-btn{
    color: #A9A9A9;
} 
.sdp--text__inactive
{
    color: #DCDCDC;
}
.ScheduleCalender p{
  opacity: 0.67;
  font-size: 14px;
  font-family: "Open Sans";
color: #000000;}
.ScheduleCalender p span{
  opacity: 0.67;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: bold;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .sdp--month-picker button:first-of-type {
    position: absolute;
    right: 20%;
  }
  .sdp--month-picker button:last-of-type {
    position: absolute;
    right: 11%;
  }
  .sdp {
    width: 370px;
    box-shadow: none !important;
  }
}

@media  (min-width: 768px) and (max-width: 991px) {
  .sdp--month-picker button:first-of-type {
    position: absolute;
    right: 47%;
  }
  .sdp--month-picker button:last-of-type {
    position: absolute;
    right: 42%;
  }
  .sdp {
    width: 418px;
    box-shadow: none !important;
  }
}