.Availabletimes
{
    background-color:#F9FBFD;
    width:120%;
    padding:24px;
}
.Availabletimes p
{
    font-size:16px;
    color:#757575;
    font-weight:600;
}
.Availabletimes p:after
{
    content: url("../../../../../../Resources/Assets/Path 10921.svg");
display:block;
}
.timeContainer
{
    height:40px;
    margin-bottom:22px;
    background-color:#fff;
    border:1px solid #EBEFFC;
display:flex;
justify-content:center;
align-items:center;
font-size:14px;
cursor:pointer;
font-family: "Gotham";

}
.clickable
{
    background-color:#426B87;
    color:#fff;
}
.availableButton{
display:flex;
justify-content:flex-end;
margin-top:30px;
position: relative;
left: 65px;
margin-bottom:80px;
}
.availableButton button
{
    width:148px;
    height:37px;
    background-color:#426B87;
    border:none;
}
.availableButton button a
{
    color:#fff !important;
text-decoration:none;

}
@media only screen and (max-width: 768px) {
    .availableButton{
        position: relative;
        left: 0px;
        }
    .availableButton button{
        position: relative;
        position: relative;
        right: 20px;        }
        .Availabletimes
{
    background-color:#F9FBFD;
    width:100%;
    padding:24px;
}  
}
@media  (min-width: 768px) and (max-width: 991px) {
    .Availabletimes{
    width:110% !important;
    padding-right: 15px;
}
.Availabletimes p
{
    font-size: 12px;
}
    .availableButton{
        position: relative;
        left: 0px;
        }

    .availableButton button{
        position: relative;
        position: relative;
        right: 20px;        }
        .Availabletimes
{
    background-color:#F9FBFD;
    width:100%;
    padding:24px;
}  
.timeContainer
{
    width:94px;
    height:40px;
    margin-bottom:22px;
    background-color:#fff;
    border:1px solid #EBEFFC;
display:flex;
justify-content:center;
align-items:center;
font-size:14px;
cursor:pointer;
font-family: "Gotham";

}
}
